/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #1449bf;
    background-image: url("../img/d7689ca1-02c8-4605-9505-b5a0bedd7a06.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Barlow', sans-serif;
}

.mirtilo-form {
    background: white;
    margin: 100px auto;
    width: 780px;
    padding: 40px;
}

h1 {
    color: #1449bf;
    font-weight: 700;
    text-align: center;
    padding: 0 10px 0 10px;
}

.promo {
    text-align: center;
    padding: 30px 40px 30px 40px;
}

label {
    display: inline-block;
    text-transform: uppercase;
    color: #1449bf;
    font-weight: 700;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem 0;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-bottom: 3px solid #1449bf;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button {
    background: #16ed8e;
    color: #1449bf;
    font-weight: 400;
    height: 40px;
    width: 100%;
    margin-top: 40px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

#mc_embed_signup {
    margin: 20px auto;
    width: 400px;
}

.logo-content {
    display: flex;
    padding-right: 9px;
    padding-left: 9px;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box !important;
}

.logo {
    max-width: 100%;
    align-self: center;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 0;
    height: auto;
    outline: none;
    text-decoration: none;
    vertical-align: bottom;
    box-sizing: border-box !important;
}

.clear {
    display: flex;
    justify-content: center;
    padding: 0 20px 0 20px;
}

.icon-content {
    display: flex;
    justify-content: center;
}

.bottom {
  padding: 40px;
  text-align: center;
}

.icon {
    fill: #1449bf !important;
}

.mc-field-group {
  height: 87px;
  padding: 20px 20px 0px 20px;
}

.mc-field-group-smaller {
  height: 50px;
  padding: 20px 20px 0px 20px;
}

.input-group {
  padding-top: 0px;
  padding-bottom: 20px;
}

.img-content {
  margin: 0 0 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

h4 {
  padding: 0;
  margin: 0 0 10px 0;
}

#mc_embed_signup div.mce_inline_error {
    margin: 0 !important;
    padding: 5px 10px;
    background-color: #ffffff !important;
    font-weight: 700 !important;
    z-index: 1;
    color: #E51C72 !important;
    font-family: 'Barlow', sans-serif;
    font-size: 12px;
}

#mc_embed_signup input.mce_inline_error {
    border-color: #E51C72 !important;
}

[type="checkbox"], [type="radio"] {
    margin: 0 3px 0 0;
}

.icon {
  background: #16ed8e;
}

.facebook-icon {
  margin: 0 10px 0 0;
}

input:focus {
  outline: 0px solid #E51C72;
  outline-offset: 0px;
  border-bottom-color: #E51C72;
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  #mc_embed_signup {
      margin: 10px auto;
      width: 100%;
  }
  .mirtilo-form {
      margin: 100px auto;
      width: 100%;
      padding: 0px;
  }
  .img-content {
    margin: 0 auto;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  #mc_embed_signup {
      margin: 10px auto;
      width: 100%;
  }
  .mirtilo-form {
      margin: 100px auto;
      width: 100%;
      padding: 0px;
  }
  .img-content {
    margin: 0 auto;
  }
  ul {
    column-count: 2;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
